<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-fPwb0w6wyQ8p0LOtU3kzsfk2jsV9AMxR+GvU6P8inCyMlQ5D52zBOjr65BkmwTCmL" crossorigin="anonymous">
  <title>Dados dos Servidores</title>
  <style>
    .navbar-brand {
      text-align: center;
      width: 100%;
      padding-right: 0; /* Adicionado para ajustar o espaçamento à direita */
    }

    .navbar {
      width: 110%; 
      max-width: none; 
    }

    .table-top {
      max-width: 500px;
      font-weight: bold;
      background-color: #f2f2f2;
    }

    .table-top td {
      text-align: start;
    }

    #searchInput {
      max-width: 200px; /* Defina o valor desejado */
    }

    

    .form-label {
      margin-right: 10px;
    }

  </style>
</head>
<body class="m-0">
  <nav style="background-color: aquamarine !important;" class="navbar navbar-light bg-light">
    <div class="container-fluid text-center">
      <span class="navbar-brand mb-0 h1 d-flex justify-content-center"><a href="{% url 'home' %}"> Projeto Sefaz </a></span>
    </div>
  </nav>
  <div class="container-fluid text-center">
    <h1>Dados dos Servidores</h1>

    <div class="mb-3 d-flex justify-content-start">
      <label for="searchInput" class="form-label">Pesquisar por Nome:</label>
      <input type="text" class="form-control" id="searchInput" oninput="filterServidores()">
    </div>

    <table class="table table-bordered table-top">
      <tbody>
        <tr>
          <td>PREFEITURA MUNICIPAL DE MACEIÓ</td>
        </tr>
        <tr>
          <td>SECRETARIA MUNICIPAL DA FAZENDA</td>
        </tr>
        <tr>
          <td>SETOR: COORD, GERAL DE ATENDIMENTO AO CONTRIBUINTE</td>
        </tr>
        <tr>
          <td>COORDENADOR: TESTE</td>
        </tr>
        <tr>
          <td>MÊS REFERÊNCIA - teste </td>
        </tr>
      </tbody>
    </table>
    
    <table id="tabelaServidores" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nome do Servidor</th>
          <th>Escala</th>
          <th>Mat.</th>
          <th>Pontualidade</th>
          <th>Assiduidade</th>
          <th>Exec. Tarefas</th>
          <th>Iniciativa</th>
          <th>At. Serviços</th>
          <th>Total Pontos</th>
          <th>Ações</th>
          <th>ADMINIST.</th>
          <th>OBSERVAÇÃO</th>
          <th>V.P ATUAL</th>
          <th> Nº SERV </th>
        </tr>
      </thead>
      <tbody>
        {% for servidor in servidores %}
          <tr>
            <td>{{ servidor.nome }}</td>
            <td>{{ servidor.escala }}</td>
            <td>{{ servidor.matricula }}</td>
            <td>{{ servidor.pontualidade }}</td>
            <td>{{ servidor.assiduidade }}</td>
            <td>{{ servidor.execucao_tarefas }}</td>
            <td>{{ servidor.iniciativa }}</td>
            <td>{{ servidor.atendimento_servicos }}</td>
            <td>{{ servidor.total_pontos }}</td>
            <td>
              <div class="d-flex">
                <a href="{% url 'relatorio_servidor' servidor.id %}" class="btn btn-primary mr-2">
                  <i class="fa fa-info-circle"></i> Informação Pontos
                </a>
                <a href="{% url 'preencher_tarefas' servidor.id %}" class="btn btn-secondary mr-2">
                  <i class="fa fa-tasks"></i> Preencher Tarefas
                </a>
                <a href="{% url 'visualizar_tarefas_servidor' servidor.id %}" class="btn btn-info mr-2">
                  <i class="fa fa-eye"></i> Visualizar Tarefas
                </a>
                <a href="{% url 'excluir_servidor' servidor.id %}" class="btn btn-danger">
                  <i class="fa fa-trash"></i> Excluir
                </a>
              </div>
            </td>
            <td>{{ servidor.tipo_escala }}</td>
            <td>{{ servidor.tipo_modalidade }}</td>
            <td>
              {% if servidor.tipo_escala == 'DIRETA' %}
                {% if servidor.escala == 'A' %}
                  {{ valores_escala.A }}
                {% elif servidor.escala == 'B' %}
                  {{ valores_escala.B }}
                {% elif servidor.escala == 'C' %}
                  {{ valores_escala.C }}
                {% elif servidor.escala == 'D' %}
                  {{ valores_escala.D }}
                {% endif %}
              {% elif servidor.tipo_escala == 'INDIRETA' %}
                {% if servidor.escala == 'A' %}
                  {{ valores_escala.A }}
                {% elif servidor.escala == 'B' %}
                  {{ valores_escala.B }}
                {% elif servidor.escala == 'C' %}
                  {{ valores_escala.C }}
                {% elif servidor.escala == 'D' %}
                  {{ valores_escala.D }}
                {% endif %}
              {% endif %}
            </td>
            <td> {{ servidor.id }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'download_pdf' %}" class="btn btn-primary">Baixar PDF</a>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script>
    function filterServidores() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("tabelaServidores"); // Seleciona a tabela de servidores
      tr = table.getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0]; // Assume que o nome do servidor está na primeira coluna
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>
</body>

</html>
